<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaiYafq.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2E7E2F3BEBE1D3F1006453D29030FB0E745AF5A0</string>
				<key>dateExpires</key>
				<string>2018/11/21</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>VGYK7VPF6P.com.nonobank.MaiYaFenQi</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>VGYK7VPF6P</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>MaiYafq.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fa37e01b-5561-4e3b-8779-0d3ef5e1ecdf</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.nonobank.MaiYaFenQi</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VGYK7VPF6P</string>
				<key>name</key>
				<string>Shanghai Nonobank financial information service Co. Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
